{% extends "index_base.html" %}
{% load static %}

{% block title%}
Modalidad
{% endblock%}

{% block h1 %}
Modalidad
{% endblock %}

{% block crear %}
<a name="" id="" class="btn btn-success" href="{% url 'crear_modalidad' %}" role="button">Crear modalidad</a>
{% endblock %}

{% block buscar %}
Buscar modalidad
{% endblock %}

{% block list %}
<a class="btn btn-secondary"  href="{% url 'modalidad_list' %}">Quitar Filtros</a>
{% endblock %}

{% block table%}
<thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo de curso</th>
        <th scope="col">Acciones</th>
    </tr>
</thead>
<tbody>
    <!-- Aca va la forma en la que tengo organizado los datos -->
    {% for modalidad in modalidad_list %}
    <tr class="table-light">
        <td scope="row">{{modalidad.id}}</td>
        <td>{{modalidad.tipo}}</td>
        <td>
            <a name="" id="" class="" href="{% url 'editar_modalidad' modalidad.id %}"><img src="{% static 'cursantes/third/bootstrap-icons/pencil-square.svg' %}" alt="Editar" width="32" height="32"/></a> |
            <a name="" id="" class="" href="{% url 'eliminar_modalidad' modalidad.id %}"><img src="{% static 'cursantes/third/bootstrap-icons/trash.svg' %}" alt="Eliminar" width="32" height="32"/></a>
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}

{% block nohay %}
No hay modalidad
{% endblock %}