{% extends "index_base.html" %}
{% load static %}

{% block title%}
Situacion revista
{% endblock%}

{% block h1 %}
Situacion revista
{% endblock %}

{% block crear %}
<a name="" id="" class="btn btn-success" href="{% url 'crear_situacion_revista' %}" role="button">Crear situacion revista</a>
{% endblock %}

{% block buscar %}
Buscar situacion revista
{% endblock %}

{% block list %}
<a class="btn btn-secondary"  href="{% url 'situacion_revista_list' %}">Quitar Filtros</a>
{% endblock %}

{% block table%}
<thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Situacion Revista</th>
        <th scope="col">Acciones</th>
    </tr>
</thead>
<tbody>
    <!-- Aca va la forma en la que tengo organizado los datos -->
    {% for situacion_revista in situacion_revista_list %}
    <tr class="table-light">
        <td scope="row">{{situacion_revista.id}}</td>
        <td>{{situacion_revista.situacion_revista}}</td>
        <td>
            <a name="" id="" class="" href="{% url 'editar_situacion_revista' situacion_revista.id %}"><img src="{% static 'cursantes/third/bootstrap-icons/pencil-square.svg' %}" alt="Editar" width="32" height="32"/></a> |
            <a name="" id="" class="" href="{% url 'eliminar_situacion_revista' situacion_revista.id %}"><img src="{% static 'cursantes/third/bootstrap-icons/trash.svg' %}" alt="Eliminar" width="32" height="32"/></a>
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}

{% block nohay %}
No hay situaciones revista
{% endblock %}