{% extends "base.html" %}
{% load static %}
{% load cursantes %}
{% block title %} 
    Curso {{ curso.id }}
{% endblock %}

{% block content %}
<div class="m-2">
    <div>
<h1>{{curso.id}} - {{ curso.cohorte }}</h1>
    </div>
    <div class="m-2">
<h3>Tipo dispositivo:</h3>
<p>{{ curso.tipo_dispositivo }}</p>
<h3>Docente Formador.</h3>
<p>{{ curso.nombre_formador }}</p>
<h3>Modalidad</h3>
<p>{{ curso.modalidad }}</p>
<h3>Area</h3>
<p>{{ curso.area }}</p>
<h3>Nivel educativo</h3>
<p>{{ curso.nivel_educativo }}</p>
<h3>Carga horaria</h3>
<p>{{curso.carga_horaria}}</p>
    </div>
    <div class="m-2">
        <div class="col-lg-12">
            <h2>Cursantes</h2>
            <a href="{% url 'asistencias_curso' curso.id %}" class="btn btn-primary">Ver Asistencias</a>
            <a href="{% url 'aprobados_curso' curso.id %}" class="btn btn-primary">Ver Aprobados</a>
            <div class="table-responsive">
                <table class="table table-primary table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            {% comment %} <th scope="col">Titulo habilitante</th>
                            <th scope="col">Año de egreso</th>
                            <th scope="col">Emisor titulo</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Telefono</th> 
                            <th scope="col" class="d-none d-xl-table-cell">Mail privado</th>{% endcomment %}
                            <th scope="col" class="d-none d-md-table-cell">Mail abc</th>
                            <th scope="col" class="d-none d-xl-table-cell">Cargo</th>
                            <th scope="col" class="d-none d-xl-table-cell">Situacion revista</th>
                            {% comment %} <th scope="col">Titulo de curso aprobado</th>
                            <th scope="col">Año aprobado</th>
                            <th scope="col">Area aprobada</th>
                            <th scope="col">Cohorte aprobado</th>
                            <th scope="col">Formador aprobado</th>
                            <th scope="col">Retiro certificado</th> {% endcomment %}
                            <th scope="col">CUE</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aca va la forma en la que tengo organizado los datos -->
                        {% get_cursantes_items curso.cohorte as cursante %}
                        {% with cursante as cursante_list %}
                            {% for cursante in cursante_list %}
                        <tr class="">
                            <td scope="row">{{cursante.id}}</td>
                            <td>{{cursante.nombre}} a</td>
                            <td>{{cursante.apellido}}</td>
                            {% comment %} <td>{{cursante.titulo_habilitante}}</td>
                            <td>{{cursante.año_egreso}}</td>
                            <td>{{cursante.emisor_titulo}}</td>
                            <td>{{cursante.direccion}}</td>
                            <td>{{cursante.telefono}}</td>
                            <td class="d-none d-xl-table-cell">{{cursante.mail_privado}}</td>{% endcomment %}
                            <td class="d-none d-md-table-cell">{{cursante.mail_abc}}</td>
                            <td class="d-none d-xl-table-cell">{{cursante.cargo}}</td>
                            <td class="d-none d-xl-table-cell">{{cursante.situacion_revista}}</td>
                            {% comment %} <td>{{cursante.titulo_curso_aprobado}}</td>
                            <td>{{cursante.año_aprobado}}</td>
                            <td>{{cursante.area_aprobado}}</td>
                            <td>{{cursante.cohorte_aprobado}}</td>
                            <td>{{cursante.formador_aprobado}}</td>
                            <td>{{cursante.retiro_certificado}}</td> {% endcomment %}
                            <td>{{cursante.cue}}</td>
                            <td>
                                <a name="" id="" class="" href="{% url 'editar_cursante' cursante.id %}"><img src="{% static 'cursantes/third/bootstrap-icons/pencil-square.svg' %}" alt="Editar" width="32" height="32"/></a>
{% comment %}                   <a name="" id="" class="" href="{% url 'eliminar_cursante' cursante.id %}"><img src="{% static 'cursantes/third/bootstrap-icons/trash.svg' %}" alt="Eliminar" width="32" height="32"/></a>
 {% endcomment %}           </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endwith %}
    </div>

</div>
{% endblock %}